{% extends 'base.html' %}
{% block content %}
<div class = "container">
    <h1 class = "text-center">{{note.title}}</h1>
    <hr/>
    <div class  = "display-inline d-flex float-end py-1">
        <a href = "#" class = "btn btn-primary">Generate PDF</a>
    </div>
    <div class = "content-container container-fluid border border-dark">
        <div class = "subtitle text-muted py-1">Updated On : {{note.updated_on}}</div>
        <div class = "subtitle text-muted py-1">Subject : {{note.subject}}</div>
        {{note.media}}
        {{note.notes|safe}}
    </div>
    <div class  = "d-inline-block d-flex py-2">
        <a href = "{% url 'note_update' note.id note.slug %}" class = "btn btn-primary me-2">Update</a>
        <a href = "{% url 'note_delete' note.id note.slug %}" class = "btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}